{% extends 'Foundation.html' %}

{% block contentdiv %}
    <div class="jumbotron" style="background-color: #f8f8ff">
        <h1>Contact</h1>
        <p>Heads In The Cloud is run by mass1ve_err0r.</p>
        <p>
            For urgent contact, use the email provided:<br>
            E-Mail: saadatdev (at) googlemail (dot) com<br><br><br>
            Else consider just tweeting @saadat603
        </p>
        <p><a class="btn btn-primary" role="button" href={{ url_for('index') }}>Back to Homepage</a></p>
    </div>
{% endblock %}
